# ----------------------------
# Visual Studio / .NET
# ----------------------------
.vs/
bin/
obj/
*.user
*.suo
*.cache
*.log

# ----------------------------
# Java / Spring Boot
# ----------------------------
target/
*.class

# ----------------------------
# MySQL / Local DB dumps
# ----------------------------
*.sql

# ----------------------------
# Windows temp files
# ----------------------------
*.tmp
*.temp
