@model PaymentGetway.Models.EntityOrder

<h2>Flight Ticket Booking</h2>

<form method="post" action="/createorder">
    <label>Name</label><br />
    <input type="text" name="Name" required /><br /><br />

    <label>Email</label><br />
    <input type="email" name="Email" required /><br /><br />

    <label>Mobile</label><br />
    <input type="text" name="Mobile" required /><br /><br />

    <label>Amount (₹)</label><br />
    <input type="number" name="Amount" value="@Model.Amount" required readonly /><br /><br />

    <input type="hidden" name="UserId" value="@Model.UserId" />
    <input type="hidden" name="Id" value="@Model.Id" />

    <button type="submit">Proceed to Pay</button>
</form>


